@font-face {
  font-family: 'pokemonfont';
  src: url('fonts/Pokemon.ttf');
  src: url('fonts/Pokemon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pokemonfont2';
  src: url('fonts/Pokemon2.ttf');
  src: url('fonts/Pokemon2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body
{
  background-image: url(img/fond.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


.visible
{
  visibility: visible;
}

.hidden
{
  visibility: hidden;
  transition: all 2s;
  transform: translateY(290px);
}


#dracaufeu
{
  position: absolute;
  width : 250px ;
  height : 180px;
  z-index: 0;
  right : 0%;
  top : 50px;
}

#team
{
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  right: 0px;
  bottom: 5px;
}

.principale
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin : auto;
}


.principale img
{
  transition: all 0.30s;
  transform: scaleY(360deg);
}

h1
{
  text-align: center;
  position : relative;
  z-index : 1;
  font-size: 50px;
  color : #FFFF01;
  text-shadow: #4D38D6 2px 5px, #4E39D7 -3px -3px, #4E39D7 -4px 0px, #4E39D7 -4px 5px, #4E39D7 3px -4px;
  font-family: 'pokemonfont';
  margin: 0px;
}

.h1, .h1-espace
{
  text-align: center;
  position : relative;
  z-index : 1;
  font-size: 50px;
  color : #FFFF01;
  text-shadow: #4D38D6 2px 5px, #4E39D7 -3px -3px, #4E39D7 -4px 0px, #4E39D7 -4px 5px, #4E39D7 3px -4px;
  font-family: 'pokemonfont';
  margin: 0px;
  margin-right:2px;
}

.h1-espace
{
  margin-right: 5px;
}

button
{
  position:relative;
  width:250px;
  color:#FFF;
  display:block;
  font-size : 25px;
  text-decoration:none;
  margin:0 auto;
  border-radius:5px;
  border:solid 1px #D94E3B;
  background:#cb3b27;
  text-align:center;
  padding:0px 15px;
  font-family: 'pokemonfont';
  letter-spacing: 2px;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-box-shadow: 0px 9px 0px #84261a;
  -moz-box-shadow: 0px 9px 0px #84261a;
  box-shadow: 0px 5px 15px black;
  cursor: pointer;
}

button:active{
  -webkit-box-shadow: 0px 2px 0px #84261a;
  -moz-box-shadow: 0px 2px 0px #84261a;
  box-shadow: 0px 2px 0px #84261a;
  position:relative;
  top:7px;
}

article
{
  position : relative;
  height : 110px;
}

div
{
  width : 197px;
  height : 281px;
  display: inline-block;
  margin : 20px;
  background-size: cover;
  background-position: center;
  box-shadow:inset 0px 0px 0px 3px black;
  cursor: url('img/pokeball.png'), pointer;
}

#temps
{
  text-align: center;
  font-size : 30px;
  margin : 0 ;
  position: relative;
  z-index: 1;
  color : #FFFF01;
  text-shadow: #4D38D6 2px 5px, #4E39D7 -3px -3px, #4E39D7 -4px 0px, #4E39D7 -4px 5px, #4E39D7 3px -4px;
  font-family: 'pokemonfont';
}


.chiffre
{
  color : red;
  font-size: 30px;
  font-family: 'pokemonfont';
  line-height: 40px;
}

aside
{
  position: relative;
  width: 570px;
  margin : auto;
}

.artikodin
{
  position: absolute;
  width: 140px;
  height: 140px;
  top: -35px;
  left: 12%;
}

.control
{
    position : absolute;
    top : 20px;
    left : 20px;
}

footer
{
  color: white;
  text-align: center;
}


@media all and (max-width:1500px)
{

  .principale img
  {
    height: 220px;
    width: 150px;
  }

  div
  {
    height: 220px;
    width: 150px;
    margin : 20px;
  }

  .artikodin
  {
    visibility: hidden;
  }

}

@media all and (max-width:1366px)
{

  .principale img
  {
    height: 200px;
    width: 130px;
  }

  div
  {
    height: 200px;
    width: 130px;
    margin : 20px;
  }
}


@media all and (max-width:991px)
{
  #dracaufeu, .artikodin, #team
  {
    visibility: hidden;
  }

  .principale img
  {
    height: 120px;
    width: 85px;
  }

  div
  {
    height: 120px;
    width: 85px;
    margin : 10px;
  }

}



@media all and (max-width:700px)
{
  #dracaufeu, .artikodin, #team
  {
    visibility: hidden;
  }

  .principale img
  {
    height: 80px;
    width: 55px;
  }

  div
  {
    height: 80px;
    width: 55px;
    margin : 7px;
  }

}
